parameters:
    autoload_files:
        - vendor/autoload.php
    excludes_analyse:
        - %rootDir%/vendor
    ignoreErrors:

includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
services:
	errorFormatter.fileoutput:
		class: noximo\FileOutput(./log/phpstan.html, @errorFormatter.raw)
